Painter.xcodeproj/xcuserdata/sam.xcuserdatad/xcschemes/Painter.xcscheme
Painter.xcodeproj/xcuserdata/sam.xcuserdatad/xcschemes/xcschememanagement.plist
Painter.xcworkspace/xcshareddata/Painter.xcscmblueprint
Painter.xcworkspace/xcuserdata/sam.xcuserdatad/UserInterfaceState.xcuserstate
Painter.xcworkspace/xcuserdata/sam.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Pods/Pods.xcodeproj/xcuserdata/sam.xcuserdatad/xcschemes/CocoaAsyncSocket.xcscheme
Pods/Pods.xcodeproj/xcuserdata/sam.xcuserdatad/xcschemes/Pods.xcscheme
Pods/Pods.xcodeproj/xcuserdata/sam.xcuserdatad/xcschemes/xcschememanagement.plist
