<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ColorList</key>
	<array>
		<dict>
			<key>r</key>
			<real>0</real>
			<key>g</key>
			<real>0</real>
			<key>b</key>
			<real>0</real>
		</dict>
		<dict>
			<key>r</key>
			<real>1</real>
			<key>g</key>
			<real>0</real>
			<key>b</key>
			<real>0</real>
		</dict>
		<dict>
			<key>r</key>
			<real>0</real>
			<key>g</key>
			<real>1</real>
			<key>b</key>
			<real>0</real>
		</dict>
		<dict>
			<key>r</key>
			<real>0</real>
			<key>g</key>
			<real>0</real>
			<key>b</key>
			<real>1</real>
		</dict>
		<dict>
			<key>r</key>
			<real>0.5</real>
			<key>g</key>
			<real>0</real>
			<key>b</key>
			<real>0</real>
		</dict>
		<dict>
			<key>r</key>
			<real>0</real>
			<key>g</key>
			<real>0.5</real>
			<key>b</key>
			<real>0</real>
		</dict>
		<dict>
			<key>r</key>
			<real>0</real>
			<key>g</key>
			<real>0</real>
			<key>b</key>
			<real>0.5</real>
		</dict>
		<dict>
			<key>r</key>
			<real>0.5</real>
			<key>g</key>
			<real>1</real>
			<key>b</key>
			<real>1</real>
		</dict>
		<dict>
			<key>r</key>
			<real>1</real>
			<key>g</key>
			<real>0.5</real>
			<key>b</key>
			<real>1</real>
		</dict>
		<dict>
			<key>r</key>
			<real>1</real>
			<key>g</key>
			<real>1</real>
			<key>b</key>
			<real>0.5</real>
		</dict>
		<dict>
			<key>r</key>
			<real>0.5</real>
			<key>g</key>
			<real>0.5</real>
			<key>b</key>
			<real>1</real>
		</dict>
		<dict>
			<key>r</key>
			<real>0.5</real>
			<key>g</key>
			<real>1</real>
			<key>b</key>
			<real>0.5</real>
		</dict>
		<dict>
			<key>r</key>
			<real>1</real>
			<key>g</key>
			<real>0.5</real>
			<key>b</key>
			<real>0.5</real>
		</dict>
		<dict>
			<key>r</key>
			<real>1</real>
			<key>g</key>
			<real>1</real>
			<key>b</key>
			<real>1</real>
		</dict>
	</array>
	<key>PenRefList</key>
	<array>
		<dict>
			<key>name</key>
			<string>crayon</string>
			<key>displayName</key>
			<string>Crayon</string>
			<key>image</key>
			<string>crayon.jpg</string>
			<key>alpha</key>
			<real>1</real>
			<key>minWidth</key>
			<real>5</real>
			<key>maxWidth</key>
			<real>5</real>
			<key>widthParam0</key>
			<real>1</real>
			<key>widthSelector</key>
			<string>penWidthSelectorSame</string>
		</dict>
		<dict>
			<key>name</key>
			<string>paint</string>
			<key>displayName</key>
			<string>Paint</string>
			<key>image</key>
			<string>paint-brush.jpg</string>
			<key>alpha</key>
			<real>1</real>
			<key>minWidth</key>
			<real>15.0</real>
			<key>maxWidth</key>
			<real>15.0</real>
			<key>widthParam0</key>
			<real>1</real>
			<key>widthSelector</key>
			<string>penWidthSelectorAngle</string>
		</dict>
		<dict>
			<key>name</key>
			<string>water</string>
			<key>displayName</key>
			<string>Water</string>
			<key>image</key>
			<string>water-color-paint-brush.jpg</string>
			<key>alpha</key>
			<real>0.5</real>
			<key>minWidth</key>
			<real>5.0</real>
			<key>maxWidth</key>
			<real>20.0</real>
			<key>widthParam0</key>
			<real>0.4</real>
			<key>widthSelector</key>
			<string>penWidthSelectorRatio</string>
		</dict>
	</array>
	<key>Palette</key>
	<dict>
		<key>Frame</key>
		<array>
			<string>{5,5}</string>
			<string>{5,111}</string>
			<string>{196,111}</string>
			<string>{196,5}</string>
		</array>
		<key>Holes</key>
		<array>
			<array>
				<string>{60,18}</string>
				<string>{60,98}</string>
				<string>{141,98}</string>
				<string>{141,18}</string>
			</array>
		</array>
	</dict>
</dict>
</plist>
